<html>
    <head>
        <title>
            Lett's Portfolio
        </title>

        <link rel="stylesheet" href="static/general.css">
        <link rel="stylesheet" href="static/index.css">
    </head>
    <body>
        <h1>Lett's Portfolio</h1>
        <div class="center-body">
            <h2>About Me</h2>
            <h3>Brief Information</h3>
            <b>First Name</b>: Jacob <br>
            <b>Current Age</b>: {{age}} <br>
            <b>Hobbies</b>: Programming. <br>

            <h3>Not-brief Information</h3>
            I first started programming in Python when I was 11. Since then, I had garnered many skills ranging from
            terminal user interfaces all the way to developing and designing basic compilers. Although, Python isn't
            the only language that I am able to write in -- it is purely my preferred language. I've also written code
            in languages such as Rust, C, C++, Java, Javascript, etc. However, Python is the language that I have the
            most experience with. <br> <br>

            Not only that, but I also have quite a bit of knowledge with computers in general. I've built my personal
            computer, modified pre-built ones, installed new operating systems, etc. I also have a decent amount of
            experience when it comes to Linux and Linux distributions (although, as of writing this, it isn't
            super-mega-Linux nerd levels of experience or knowledge). At home, I've set up and created a network
            infrastructure that distributes and shares a Wi-Fi signal across my property, which effectively allows my
            family to only need to pay for one internet plan for the property. <br> <br>

            <h2>About This Website</h2>
            This website is written and styled primary by HTML and CSS. There is <i>no</i> Javascript used throughout
            this entire website. "That doesn't show us your programming skills," yes, but technically no. In this modern
            programming world, many dynamic websites are written with Javascript. Javascript is <i>extremely</i>
            powerful for websites. However, it can also come at a cost: performance. Whenever I was 13, I had a fairly
            low performance computer. It wouldn't even run Linux at a decent speed. As such, I was also painfully aware
            of when a website wasn't properly optimized. The culprit? Too much Javascript. Whenever you're writing a
            static website like this, the usage of Javascript is unnecessary. All the variables (such as my age) is
            provided onto the page via the back-end.

            <h3>Under Construction</h3>
            This website is under construction and it is incomplete.
        </div>
    </body>
</html>
